@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --dark-brown: #220e03;
    --gold: #A3810CFF;
}

html {
    font-size: 16px;
    font-family: 'Inria Serif', serif;

}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../public/images/background-1.png");
    background-color: rgba(41,31,16,1);
}


h1 {
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 -0.25em 0;
    background-color: var(--gold);
    background-image: linear-gradient(0deg, rgba(138,111,8,1) 35%, rgba(255,191,46,1) 60%, rgba(138,111,8,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 4px 4px rgba(19, 6, 1, 0.9));
}

.text--secondary {
    margin: 0;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(0deg, rgba(202,173,130,1) 25%, rgba(246,239,227,1) 55%, rgba(202,173,130,1) 75%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 4px 4px rgba(19, 6, 1, 0.9));
}

.button--primary {
    font-family: 'Inria Serif', serif;
    padding: 1.5em 1em 1.5em 1em;
    width: 100%;
    background: linear-gradient(0deg, rgba(34,14,3,1) 20%, rgba(64,33,16,1) 60%, rgba(99,56,32,1) 80%, rgba(39,17,5,1) 90%);
    border: 0;
    border-radius: 1.5em;
    filter: drop-shadow(1px 4px 2px rgba(19, 6, 1, 0.7));
    transition: background 1.5s ease-in-out, border-radius 1.5s ease-in-out;
}

.text--button {
    background-image: linear-gradient(0deg, rgba(202,173,130,1) 25%, rgba(246,239,227,1) 55%, rgba(202,173,130,1) 75%);
    background-size: 100%;
    background-repeat: repeat;
    font-size: 4em;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 4px 4px rgb(0, 0, 0));
    margin: 0;
    transition: background-image 1.5s ease;
}

.box--buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.box--titles {
    margin-bottom: 8em;
}

#root {
    width: 100%;
    margin: 0 24em 0 24em;
}

.button--primary:hover {
    background: linear-gradient(0deg, rgb(17, 8, 2) 20%, rgb(44, 22, 9) 60%, rgb(77, 41, 22) 80%, rgb(17, 8, 2) 90%);
    border-radius: 1.5em;
}

.text--button:hover {
    background-image: linear-gradient(0deg, rgb(180, 150, 105) 25%, rgb(225, 211, 183) 55%, rgb(180, 150, 105) 75%);

}